.main-text {
  font-size: 48px;
  font-weight: 700;
  color: var(--bg-dark);
  margin: 0;
}

.secondary-text {
  font-size: 36px;
  font-weight: 400;
  color: var(--secondary-dark);
  margin: 0;
}

.small-italic {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: var(--accent-color);
  margin: 0;
}

.small-bold {
  font-size: 18px;
  font-weight: 700;
  color: var(--accent-color);
  margin: 0;
}

.intro {
  padding: 32px 16px;
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
  & img {
    min-width: 250px;
    max-width: 400px;
    border-radius: 20px;
    overflow: hidden;
  }
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2vh;
  width: 50vw;
  text-align: left;
}

.booking-button {
  font-size: 18px;
  display: inline-block;
  justify-self: center;
  padding: 14px 23px;
  background-color: var(--bg-light);
  color: white;
  border-radius: 23px;
  margin-right: auto;
  margin-top: 3vh;
  text-decoration: none;
}

.booking-button:hover {
  transform: scale(1.05);
}

.intro-image {
  width: 25vw;
  border-radius: 20px;
  margin: 2vh 0;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
}

.services-overview {
  padding: 32px 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
  h2 {
    font-size: 48px;
    font-weight: 700;
    color: var(--bg-dark);
    margin: 0;
  }
  h3 {
    font-size: 36px;
    font-weight: 700;
    color: var(--secondary-dark);
    margin: 0;
    margin-bottom: 5vh;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    color: var(--accent-color);
    margin: 0;
  }
}

.services {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.service {
  display: flex;
  justify-content: center;
  gap: 32px;
  align-items: center;
  & img {
    min-width: 250px;
    max-width: 40%;
  }
}

.service-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.service:nth-child(odd) img {
  border-radius: 10vh 10vw 10vh 10vw;
}

.service:nth-child(even) img {
  border-radius: 10vw 10vh 10vw 10vh;
}

.service-learn-more {
  font-size: 18px;
  width: 100%;
  text-align: center;
  padding: 14px 23px;
  box-sizing: border-box;
  border: solid 1px var(--accent-color);
  color: var(--accent-color);
  border-radius: 23px;
  margin-right: auto;
  margin-top: 8px;
  text-decoration: none;
}

.service-learn-more:hover {
  border: solid 1px var(--bg-light);
  transform: scale(1.01);
  cursor: pointer;
  color: var(--bg-light);
}

.cta-container {
  display: flex;
  justify-content: center;
  .cta {
    background-color: var(--bg-light);
    width: 80%;
    border-radius: 0 40px 0 40px;
    display: flex;
    padding: 16px 32px;
    flex-direction: column;
    align-content: center;
    gap: 32px;
    h2 {
      font-size: 48px;
      font-weight: 700;
      color: white;
      margin: 0;
      text-align: center;
    }
    .booking-button {
      margin: 0 auto;
      background-color: var(--bg-dark);
    }
  }
}

@media (max-width: 600px) {
  .main-container {
    text-align: center;
  }
  .intro {
    flex-direction: column-reverse;
    .intro-text {
      width: 100%;
    }
  }
  .main-text {
    font-size: 24px;
  }

  .secondary-text {
    font-size: 20px;
  }

  .small-italic {
    font-size: 16px;
  }

  .small-bold {
    font-size: 16px;
  }
  .booking-button {
    margin: 0 auto;
  }
  .services-overview {
    padding: 32px 16px;
    gap: 16px;
    h2 {
      font-size: 24px;
    }
    h3 {
      font-size: 20px;
      margin-bottom: 16px;
    }
    p {
      font-size: 16px;
    }
  }
  .service {
    flex-direction: column;
    gap: 16px;
    & img {
      max-width: 100%;
      width: 80%;
    }
  }
  .service:nth-child(odd) img {
    border-radius: 16px;
  }

  .service:nth-child(even) img {
    border-radius: 16px;
    order: -1;
  }
  .service-text {
    width: 100%;
    text-align: center;
  }
  .cta-container {
    padding: 32px 16px;
    .cta {
      h2 {
        font-size: 24px;
      }
      width: 100%;
    }
  }
}
