.main-header {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 1;
  .banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    & img {
      width: 60px;
    }
  }
  & nav {
    padding: 8px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    .nav-tab {
      width: 100%;
      display: flex;
      position: relative;
      .hide {
        opacity: 0;
        transform-origin: top;
        transform: scaleY(0);
        pointer-events: none;
      }
      .show {
        opacity: 1;
        transform-origin: top;
        transform: scaleY(1);
        transition: all 0.3s ease;
      }
      & ul {
        width: 200px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        overflow: hidden;
        position: absolute;
        top: 20px;
        background-color: white;
        margin: 0;
        padding: 16px;
        list-style: none;
        box-shadow: 5px 5px 5px lightgray;
        & li {
          padding-top: 16px;
          border-top: solid 1px var(--secondary-dark);
          & a {
            border: none;
            width: 100%;
          }
        }
      }
    }
    .nav-tab:has(.active) {
      .nav-tab-title {
        font-weight: 800;
        color: var(--accent-color);
      }
    }
    & a {
      color: var(--secondary-dark);
      text-decoration: none;
      width: 100%;
      text-align: center;
    }
    a.active {
      font-weight: 800;
      color: var(--accent-color);
    }
    a:hover {
      color: var(--bg-light);
      cursor: pointer;
    }
    div:nth-child(-n + 4) a {
      border-right: solid var(--secondary-dark);
    }
  }
  & h1 {
    color: var(--bg-dark);
    font-weight: 900;
  }
}
