.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  .banner {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & img {
      width: 60px;
    }
  }
  & nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
