:root {
  --bg-dark: #183861;
  --bg-light: #0daa70;
  --accent-color: #355277;
  --secondary-light: #d4e5fa;
  --secondary-dark: #3d4145;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}
