.details-container {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clinic-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  text-align: left;
  margin-bottom: auto;
  padding-top: 32px;
  padding-right: 16px;
}

.whatsapp-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.phone,
.address {
  display: flex;
  gap: 16px;
  font-size: 18px;
  justify-content: flex-start;
  align-items: center;
  & i {
    color: var(--bg-light);
    font-size: 24px;
  }
}

.phone {
  margin-top: 24px;
}

.main-text {
  font-size: 48px;
  font-weight: 700;
  color: var(--bg-dark);
  margin: 0;
}

.secondary-text {
  font-size: 36px;
  font-weight: 400;
  color: var(--secondary-dark);
  margin: 0;
}

.small-italic {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: var(--accent-color);
  margin: 0;
}

.small-bold {
  font-size: 18px;
  font-weight: 700;
  color: var(--accent-color);
  margin: 0;
}

.form-container {
  flex: 1;
  min-width: 400px;
}

.patient-details {
  background-color: #f5f7fb;
  box-shadow: 0 0 5px lightgray;
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 32px;
  & fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
}

.field {
  display: flex;
  justify-content: left;
  gap: 2vh;
  flex-wrap: wrap;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 150px;
}

input,
select {
  border: solid #e5e7eb;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
}

legend {
  font-size: 24px;
  margin-bottom: 5vh;
}

label {
  font-size: 12px;
  color: #1f2937;
  margin-bottom: 1vh;
}

.send-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #1f2937;
}

input:focus {
  border: solid #3882f6;
}

.valid-input {
  border: solid #9fd99c;
}

.invalid-input {
  border: solid #e35d5d;
}

.error {
  font-size: 10px;
  color: #e35d5d;
  margin-top: 2px;
  margin-bottom: 2px;
}

.submit-button {
  font-size: 18px;
  display: inline-block;
  justify-self: center;
  padding: 14px 23px;
  background-color: var(--bg-light);
  color: white;
  border-radius: 8px;
  width: 100%;
  border: none;
}

.submit-button:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.placeholder {
  color: gray;
}

input::placeholder {
  color: gray;
}

#result {
  text-align: center;
}

.google-map {
  width: 100%;
  border: none;
  aspect-ratio: 1.5;
  margin-bottom: 32px;
}

@media (max-width: 600px) {
  .details-container {
    flex-direction: column;
    text-align: center;
    padding: 16px;
  }
  .clinic-details {
    width: 100%;
    padding: 16px 0;
    text-align: center;
  }
  .phone,
  .address {
    justify-content: center;
  }
  .form-container {
    min-width: 200px;
    max-width: 100%;
  }
  .patient-details {
    & label {
      text-align: left;
    }
  }
}
