:root{
    --bg-dark: #183861;
    --bg-light: #0DAA70;
    --accent-color: #355277;
    --secondary-light: #d4e5fa;
    --secondary-dark: #3D4145;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
    font-family: 'Montserrat', sans-serif;
}

/* Header */
.header-container{
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 100;
    background-color: white;
    width: 100vw;
    height: 20vh;
}

.header{
    width: 80vw;
    font-weight: 900;
    font-size: 36px;
    color: var(--bg-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    padding: 2vh 0;
}

.logo{
    /* filter: brightness(34) hue-rotate(213) saturate(38); */
    width: 60px;
}

.menu{
    width: 80vw;
    color: var(--secondary-dark);
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    /* gap: 15px; */
}

.menu-item{
    padding: 0 auto;
    flex: 1;
    text-align: center;
}

.menu-item:nth-child(-n+4){
    border-right: solid var(--secondary-dark);
}

.cta-container{
    width: 60vw;
    margin: 5vh 20vw;
    background-color: var(--bg-light);
    border-radius: 0 40px 0 40px;
    display: flex;
    box-sizing: border-box;
    padding: 5vh 5vw;
    flex-direction: column;
    align-content: center;
    gap: 5vh;
    h2{
        font-size: 48px;
        font-weight: 700;
        color: white;
        margin: 0;
        text-align: center;
    }
    .booking-button{
        margin: 0 auto;
        background-color: var(--bg-dark);
    }
}

.footer-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
    margin-top: auto;
}

.footer{
    font-weight: 900;
    font-size: 18px;
    color: var(--bg-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    .logo{
        width: 30px;
    }
}

.sns{
    display: flex;
    justify-content: center;
    gap:20px;
}

.icon{
    width: 20px;
    height: 20px;
}

a{
    color: white;
    text-decoration: none;
}

.main-text{
    font-size: 48px;
    font-weight: 700;
    color: var(--bg-dark);
    margin: 0;
}

.secondary-text{
    font-size: 36px;
    font-weight: 400;
    color: var(--secondary-dark);
    margin: 0;
}

.small-italic{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: var(--accent-color);
    margin: 0;
}

.small-bold{
    font-size: 18px;
    font-weight: 700;
    color: var(--accent-color);
    margin: 0;
}