.precios-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25vh;
    gap: 5vh;
}

.pricing-grid {
    background-color: #f5f7fb;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3,minmax(250px,1fr));  /* Two equal columns */
    align-items: center;
    box-shadow: 0 0 5px lightgray;
}

.header-cell{ 
    height: 20px;
    padding: 0 10px;
    padding-top: 5vh;
    padding-bottom: 3vh;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 150;
    background-color: #f5f7fb;
}

:nth-child(1 of .header-cell), .row-label{
    padding-left: 5vw;
}
:nth-child(3 of .header-cell), .price-cell{
    padding-right: 5vw;
}

:nth-child(1 of .separator){
    position: sticky;
    top: 0;
    z-index: 150;
}

.header-cell:nth-child(2){
    text-align: left;
}
.header-cell:nth-child(3){
    text-align: right;
}

.header-cell .sticky { /* Add a class to the row containing the header cells */
    position: sticky;
    top: 0; 
    background-color: #f5f7fb; /* Match your grid background */
    z-index: 2; /* Ensure the headers stay on top */
}

.row-label{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

:nth-child(1 of .row-label) {
    grid-row: 3 / 9;
}
:nth-child(2 of .row-label) {
    grid-row: 10 / 16;
}
:nth-child(3 of .row-label) {
    grid-row: 17 / 23;
}
:nth-child(4 of .row-label) {
    grid-row: 24 / 30;
}

.service-title{
    padding: 10px;
    padding-right: 5vw;
    padding-bottom: 30px;
    grid-column: 2 / 4;
}

.empty-cell{
    padding: 10px;
    grid-column: 2 / 4;
}

.service-cell{
    padding: 10px;
    text-align: left;
    grid-column-start: 2;
}

.price-cell{
    padding: 10px;
    text-align: right;
    grid-column-start: 3;
    padding-right: 5vw;
}

.separator-container{
    background: #f5f7fb;
    padding: 2vh 5vw;
    display: flex;
    justify-content: center;
    grid-column: 1 / 4;
}
.separator{
    background-color: lightgray;
    height: 1px;
    width: 100%;
}

.footnote{
    text-align: left;
    font-size: smaller;
    grid-column: 1 / 4;
    padding: 0 5vw;
}

#footnote1{
    padding-top: 3vh;
    scroll-margin-top: 30vh;
}
#footnote2{
    padding-bottom: 5vh;
    scroll-margin-top: 30vh;
}

.booking-button{
    font-size: 18px;
    display: inline-block;
    justify-self: center;
    padding: 14px 23px;
    background-color: var(--bg-light);
    color: white;
    border-radius: 23px;
    margin-right: auto;
    margin-top: 3vh;
}

.booking-button:hover{
    transform: scale(1.05);
}

sup a{
    color: black;
}